<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    
		<section layout:fragment="contents" class="contents d-flex mt-4">
			<aside class="side-menu col-2">
				<button type="button" class="btn btn-block btn-dark" onclick = "location.href='/grade/entire-view'">전체 성적 조회</button>
				<button type="button" class="btn btn-block btn-dark" onclick = "location.href='/grade/specific-view'">세부 성적 조회</button>
				<button type="button" class="btn btn-block btn-dark" onclick = "location.href='/grade/input-view'">성적 입력</button>
			</aside>
			<div class="main-contents col-10 px-5">
				<div class="grade-info-box border border-dark d-flex align-items-center">
					<div id="curve_chart" style="width:1200px; height:300px;"></div>
					<div>
						<h5 class="font-weight-bold">전체 평점</h5>
						<div class="d-flex justify-content-end align-items-end">
							<h4 class="text-danger">3.5</h4>
							<h5>/4.3</h5>
						</div>
						<h5 class="font-weight-bold mt-5">취득 학점</h5>
						<div class="d-flex justify-content-end align-items-end">
							<h4 class="text-danger">128</h4>
							<h5>/130</h5>
						</div>
					</div>
				</div>
				<div class="grade-input-box p-4 mt-3 d-flex justify-content-center">
					<div class="border border-dark p-3">
						<div>시간표 선택</div>
						<select id="timetableSelect" class="col-5 mt-2">
							<option th:selected="${selectedId == null}" value="">시간표 선택</option>
							<th:block th:each="timetable:${allTimetableList}">
								<option th:value="${timetable.id}" th:text="${timetable.timetableName}" th:selected="${selectedId == timetable.id}">시간표 이름</option>
							</th:block>
						</select>
						<div class="d-flex justify-content-between mt-2">
							<div class="d-flex align-items-end">
								<div class="mt-2">학기 :</div>
								<th:block th:each="timetable:${allTimetableList}">
									<th:block th:if="${selectedId == timetable.id}">
										<div class="term-box ml-2" th:text="${timetable.term}">1학년 1학기</div>
									</th:block>
								</th:block>
							</div>
						</div>
						<div>
							<table border="1" class="grade-input-table mt-3 text-center">
								<thead>
									<tr>
										<th width="500">수업명</th>
										<th width="100">학점</th>
										<th width="100">성적</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="lecture:${creditList}">
									    <td th:value="${lecture.lectureName}" th:text="${lecture.lectureName}" class="lecture-name">건축공학개론</td>
									    <td th:value="${lecture.credit}" th:text="${lecture.credit}" class="credit">3</td>
										<td class="grade-result">
											<th:block th:if="${#lists.contains(allLectureName, lecture.lectureName)}">
												<th:block th:each="grade:${gradeList}">
													<th:block th:if="${lecture.lectureName == grade.lectureName}">
														<th:block th:each="gradeDTO:${gradeDTOList}">
															<th:block th:if="${gradeDTO.grade == grade.grade}">
																<div class="d-flex justify-content-between align-items-center">
																	<div th:text="${gradeDTO.gradeString}" class="selected-grade ml-4 pl-3"></div>
																	<label>
																		<i class="bi bi-x"></i>
																		<button type="button" th:data-grade-id="${grade.id}" hidden class="delete-btn"></button>
																	</label>
																</div>
															</th:block>
														</th:block>
													</th:block>
												</th:block>
											</th:block>
											<th:block th:unless="${#lists.contains(allLectureName, lecture.lectureName)}">
												<select class="grade-select border-0">
													<option value="0">-</option>
													<th:block th:each="gradeDTO:${gradeDTOList}">
														<option th:value="${gradeDTO.grade}" th:text="${gradeDTO.gradeString}"></option>
													</th:block>
												</select>
											</th:block>
									    </td>
									</tr>
									<th:block th:if="${creditList} == null">
										<tr th:each="i:${#numbers.sequence(1, 7)}" id="tableFrame">
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<th:block layout:fragment="library">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<script type="text/javascript">
				google.charts.load('current', {packages: ['corechart']});
				google.charts.setOnLoadCallback(drawChart);
				
				// 차트 그리기 함수
				function drawChart() {
				  const data1 = google.visualization.arrayToDataTable([
				    ['term', 'grade', { role: 'style' }],
				    ['1학년 1학기',  2.5, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['1학년 2학기',  2.6, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['2학년 1학기',  3.2, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['2학년 2학기',  3.1, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['3학년 1학기',  4.0, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['3학년 2학기',  3.8, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['4학년 1학기',  3.8, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['4학년 2학기',  4.1, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['5학년 1학기',  3.6, 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				    ['5학년 2학기',  , 'point {fill-color: white; stroke-color: red; stroke-width: 2}'],
				  ]);
				
				  const options1 = {
				    chartArea: { left: 70, top: 50, width: '90%', height: '70%' },
				    legend: { position: 'none' },
				    series: { 0: { color: 'red' } },
				    pointSize: 10,
				    vAxis: {
						viewWindow: {min: 2.0, max: 4.5},
						gridlines: { count: 5 }
					},
				    pointSize: 7 // 포인트 크기
				  };
				
				  const chart1 = new google.visualization.LineChart(document.getElementById('curve_chart'));
				  chart1.draw(data1, options1);
				}
			</script>
		</th:block>
		
		<script layout:fragment="script">
			$(document).ready(function() {
				$(".delete-btn").on("click", function() {
					let gradeId = $(this).data("grade-id");
					let timetableId = $("#timetableSelect option:selected").val();

					$.ajax({
						type:"delete"
						, url:"/grade/delete"
						, data:{"id":gradeId}
						, success:function(response) {
							if(response.result == "success") {
								location.href="/grade/input/timetable-view?id=" + timetableId;
							} else {
								alert("삭제 실패!");
							}
						}
						, error:function() {
							alert("삭제 에러!");
						}
					});
				})
				
				$(".grade-select").on("change", function() {
					let row = $(this).closest("tr");
					
					let timetableId = $("#timetableSelect option:selected").val();
					let lectureName = row.find(".lecture-name").text();
					let credit = row.find(".credit").text();
					let grade = $(this).val();
					let gradeId = $(".selected-grade").data("grade-id");
					
					$(".grade-select").addClass("d-none");
					
					$.ajax({
						type:"post"
						, url:"/grade/create"
						, data:{"timetableId":timetableId
							, "lectureName":lectureName
							, "credit":credit
							, "grade":grade}
						, success:function(response) {
							if(response.result == "success") {
								location.href="/grade/input/timetable-view?id=" + timetableId;
							} else {
								alert("수업 추가 실패!");
							}
						}
						, error:function() {
							alert("수업 추가 에러!");
						}
					});
				}); 
				
				$("#timetableSelect").on("change", function() {
					let id = $("#timetableSelect option:selected").val();
					
					if(id == "") {
						location.href="/grade/input-view";
					} else {
						location.href="/grade/input/timetable-view?id=" + id;
					}
				});
			});
		</script>