<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    
		<section layout:fragment="contents" class="contents d-flex mt-4">
			<aside class="side-menu col-2">
				<button type="button" class="btn btn-block btn-dark" onclick = "location.href='/grade/entire-view'">전체 성적 조회</button>
				<button type="button" class="btn btn-block btn-dark" onclick = "location.href='/grade/specific-view'">세부 성적 조회</button>
				<button type="button" class="btn btn-block btn-dark" onclick = "location.href='/grade/input-view'">성적 입력</button>
			</aside>
			<div class="main-contents col-10 px-5">
				<div class="grade-info-box border border-dark">
					<div class="ml-4 mt-3">
						<div>학기 선택</div>
						<select id="timetableSelect" class="col-3 mt-2">
							<option th:selected="${selectedId == null}" value="">학기 선택</option>
							<th:block th:each="term:${termList}">
								<option th:value="${term.timetableId}" th:text="${term.term}" th:selected="${selectedId == term.timetableId}">1학년 1학기</option>
							</th:block>
						</select>
					</div>
					<div class="d-flex align-items-center">
						<div id="bar_chart" style="width:1200px; height:500px;"></div>
						<div>
							<h5 class="font-weight-bold">전체 평점</h5>
							<div class="d-flex justify-content-end align-items-end">
								<h4 class="text-danger" th:text="${averageGrade}">3.5</h4>
								<h5>/4.3</h5>
							</div>
							<h5 class="font-weight-bold mt-5">취득 학점</h5>
							<div class="d-flex justify-content-end align-items-end">
								<h4 class="text-danger" th:text="${creditSum}">128</h4>
								<h5>/130</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<th:block layout:fragment="library">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<script type="text/javascript" src="/static/js/barchart.js"></script>
		</th:block>
		
		<script layout:fragment="script">
			$("#timetableSelect").on("change", function() {
				let id = $("#timetableSelect option:selected").val();
				
				if(id == "") {
					location.href="/grade/specific-view";
				} else {
					location.href="/grade/specific-view?id=" + id;
				}
			});
		</script>