<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/noheader}">
		<section layout:fragment="contents" class="contents d-flex justify-content-center align-items-center mt-5">
			<div class="col-4">
				<div class="input-box my-5 p-5 rounded-lg border border-dark">
					<h1 class="text-center">H<span class="text-danger">:</span>OUR</h1>
					<h3 class="text-center mt-2">회원가입</h3>
					<div class="d-flex align-items-center mt-5">
						<input type="text" class="form-control col-9" id="idInput" placeholder="아이디">
						<button type="button" class="btn btn-block btn-dark btn-sm ml-2 text-white" id="idDuplicateBtn">중복확인</button>
					</div>	
					<div class="small text-success d-none" id="idAvailableText">사용 가능한 ID 입니다.</div>
	                <div class="small text-danger d-none" id="idDuplicateText">중복된 ID 입니다.</div>
					<input type="password" class="form-control mt-4" id="passwordInput" placeholder="비밀번호">
					<input type="password" class="form-control mt-4" id="passwordConfirmInput" placeholder="비밀번호 확인">
					<input type="text" class="form-control mt-4" id="nameInput" placeholder="이름">
					<input type="text" class="form-control mt-4" id="emailInput" placeholder="이메일">
					<button type="button" class="btn btn-block btn-dark mt-4 text-white" id="joinBtn">가입하기</button>
				</div> 
				<div class="joinLink-box mb-5 p-3 rounded-lg border border-dark">
					<div class="text-center d-flex justify-content-center align-items-center">
						<div class="mr-3">계정이 있으신가요?</div>
						<a href="/user/login-view" class="text-danger">로그인하기</a>
					</div>
				</div>
			</div>
		</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	<script layout:fragment="script">
    	$(document).ready(function() {
    		
    		var isIdDuplicateCheck = false;
    		var isDuplicateId = true;
    		
    		$("#idInput").on("input", function() {
    			isIdDuplicateCheck = false;
    			isDuplicateId = true;
    			$("#idAvailableText").addClass("d-none");
    			$("#idDuplicateText").addClass("d-none");
    		});
    		
    		$("#idDuplicateBtn").on("click", function() {
    			let id = $("#idInput").val();
    			
    			if(id == "") {
    				alert("아이디를 입력하세요");
    				return ;
    			}
    			
    			$.ajax({
    				type:"get"
    				, url:"/user/duplicate-id"
    				, data:{"loginId":id}
    				, success:function(response) {
    					
    					isIdDuplicateCheck = true;
    					
    					if(response.isIdDuplicate) {
    						$("#idDuplicateText").removeClass("d-none");
    						$("#idAvailableText").addClass("d-none");
    						isDuplicateId = true;
    					} else {
    						$("#idAvailableText").removeClass("d-none");
    						$("#idDuplicateText").addClass("d-none");
    						isDuplicateId = false;
    					}
    				}
    				, error:function() {
    					alert("중복확인 에러!");
    				}
    			});
    		});

    		$("#joinBtn").on("click", function() {
    			let id = $("#idInput").val();
    			let password = $("#passwordInput").val();
    			let passwordConfirm = $("#passwordConfirmInput").val();
    			let name = $("#nameInput").val();
    			let email = $("#emailInput").val();
    			
    			if(id == "") {
    				alert("아이디를 입력하세요");
    				return ;
    			}
    			if(!isIdDuplicateCheck) {
    				alert("중복체크를 해주세요");
    				return ;
    			}
    			if(isDuplicateId) {
    				alert("중복된 아이디 입니다");
    				return ;
    			}
    			if(password == "") {
    				alert("비밀번호를 입력하세요");
    				return ;
    			}
    			if(password != passwordConfirm) {
    				alert("비밀번호가 일치하지 않습니다");
    				return ;
    			}
    			if(name == "") {
    				alert("이름을 입력하세요");
    				return ;
    			}
    			if(email == "") {
    				alert("이메일을 입력하세요");
    				return ;
    			}
    			
    			$.ajax({
    				type:"post"
    				, url:"/user/join"
    				, data:{"loginId":id, "password":password, "name":name, "email":email}
    				, success:function(response) {
    					if(response.result == "success") {
    						location.href = "/user/login-view";
    					} else {
    						alert("회원가입 실패!");
    					}
    				}
    				, error:function() {
    					alert("회원가입 에러");
    				}
    			});
    		});
    	});
	</script>
</body>
</html>