<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/noheader}">
		<section layout:fragment="contents" class="contents d-flex justify-content-center align-items-center mt-5">
			<div class="col-4">
				<div class="input-box my-5 p-5 rounded-lg border border-dark">
					<h1 class="text-center">H<span class="text-danger">:</span>OUR</h1>
					<h3 class="text-center mt-2">로그인</h3>
					<div>
						<form id="loginForm">
							<input type="text" class="form-control mt-5" placeholder="아이디" id="loginIdInput">
							<input type="password" class="form-control mt-4" placeholder="비밀번호" id="passwordInput">
							<button type="submit" class="btn btn-block btn-dark mt-4">로그인</button>
						</form>
					</div>
				</div> 
				<div class="joinLink-box mb-5 p-3 rounded-lg border border-dark">
					<div class="text-center d-flex justify-content-center align-items-center">
						<div class="mr-3">계정이 없으신가요?</div>
						<a href="/user/join-view" class="text-danger">가입하기</a>
					</div>
				</div>
			</div>
		</section>
		
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	<script layout:fragment="script">
       	$(document).ready(function() {
       		$("#loginForm").on("submit", function(e) {
       			// submit 이벤트가 가진 고유의 기능을 막는다
       			e.preventDefault();
       			
       			let id = $("#loginIdInput").val();
       			let password = $("#passwordInput").val();
       			
       			if(id == "") {
       				alert("아이디를 입력하세요");
       				return ;
       			}
       			if(password == "") {
       				alert("비밀번호를 입력하세요");
       				return ;
       			}
       			
       			$.ajax({
       				type:"post"
       				, url:"/user/login"
       				, data:{"loginId":id, "password":password}
       				, success:function(response) {
       					if(response.result == "success") {
       						location.href="/timetable/detail-view";
       					} else {
       						alert("아이디와 비밀번호를 확인해주세요");
       					}
       				}
       				, error:function() {
       					alert("로그인 에러!");
       				}
       			});
       		});
       	});
	</script>
</body>
</html>