<table id="time-table">
						<thead>
							<tr>
								<th></th>
								<th>월</th>
								<th>화</th>
								<th>수</th>
								<th>목</th>
								<th>금</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>1교시</th>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '09:00' || lecture.endTime == '10:30') && lecture.day == '월'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '09:00' || lecture.endTime == '10:30') && lecture.day == '화'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '09:00' || lecture.endTime == '10:30') && lecture.day == '수'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '09:00' || lecture.endTime == '10:30') && lecture.day == '목'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '09:00' || lecture.endTime == '10:30') && lecture.day == '금'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>2교시</th>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '10:30' || lecture.endTime == '12:00') && lecture.day == '월'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '10:30' || lecture.endTime == '12:00') && lecture.day == '화'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '10:30' || lecture.endTime == '12:00') && lecture.day == '수'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '10:30' || lecture.endTime == '12:00') && lecture.day == '목'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '10:30' || lecture.endTime == '12:00') && lecture.day == '금'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>3교시</th>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '12:00' || lecture.endTime == '13:30') && lecture.day == '월'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '12:00' || lecture.endTime == '13:30') && lecture.day == '화'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '12:00' || lecture.endTime == '13:30') && lecture.day == '수'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '12:00' || lecture.endTime == '13:30') && lecture.day == '목'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '12:00' || lecture.endTime == '13:30') && lecture.day == '금'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>4교시</th>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '13:30' || lecture.endTime == '15:00') && lecture.day == '월'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '13:30' || lecture.endTime == '15:00') && lecture.day == '화'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '13:30' || lecture.endTime == '15:00') && lecture.day == '수'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '13:30' || lecture.endTime == '15:00') && lecture.day == '목'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '13:30' || lecture.endTime == '15:00') && lecture.day == '금'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>5교시</th>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '15:00' || lecture.endTime == '16:30') && lecture.day == '월'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '15:00' || lecture.endTime == '16:30') && lecture.day == '화'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '15:00' || lecture.endTime == '16:30') && lecture.day == '수'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '15:00' || lecture.endTime == '16:30') && lecture.day == '목'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '15:00' || lecture.endTime == '16:30') && lecture.day == '금'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>6교시</th>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '16:30' || lecture.endTime == '18:00') && lecture.day == '월'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '16:30' || lecture.endTime == '18:00') && lecture.day == '화'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '16:30' || lecture.endTime == '18:00') && lecture.day == '수'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '16:30' || lecture.endTime == '18:00') && lecture.day == '목'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '16:30' || lecture.endTime == '18:00') && lecture.day == '금'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
							<tr>
								<th>7교시</th>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '18:00' || lecture.endTime == '19:30') && lecture.day == '월'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '18:00' || lecture.endTime == '19:30') && lecture.day == '화'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '18:00' || lecture.endTime == '19:30') && lecture.day == '수'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '18:00' || lecture.endTime == '19:30') && lecture.day == '목'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
								<td>
									<th:block th:each="table:${tableList}">
										<th:block th:each="lecture:${table.lectureList}">
											<th:block th:if="${(param.id[0] == table.timetableId.toString()) && (lecture.startTime == '18:00' || lecture.endTime == '19:30') && lecture.day == '금'}">
												<b th:utext="${lecture.lectureName}"></b>
												<div class="d-flex small-text">
													<b th:text="${lecture.professorName}" class="mr-2"></b>
													<div th:text="${lecture.classRoom}"></div>
												</div>
											</th:block>
										</th:block>
									</th:block>
								</td>
							</tr>
						</tbody>
					</table>