@charset "UTF-8";

#wrap {
	width:100%;
	height:800px;
	margin:0 auto;
}

header > .logo {
	height:80px;
}

header > .menu {
	height:80px;
}

.side-menu > .timetable-info {
	height:100px;
}

.title-input-group > .title-input-label {
	width:5%;
}

.memo-contents {
	height:550px;
	overflow: auto;
}

.term-box {
	width:150px;
}

.grade-input-table tr {
	height:30px;
}

input[type=radio]:checked + label { 
	background-color:#f95735;
	border:#f95735; 
}

footer {
	height:70px;
	font-size:12px;
}

::placeholder {
	font-size:12px;
}

select {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  border-radius: 6px;
}

option {
  padding: 4px;
  color: #fff;
  background: #272822;
}