<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    
		<section layout:fragment="contents" class="contents d-flex mt-4">
			<aside class="side-menu col-2">
				<button type="button" class="btn btn-block btn-dark" onclick="location.href='/memo/list-view'">메모장</button>
			</aside>
			<div class="main-contents col-10 px-5">
				<div class="d-flex align-items-end">
					<h1><i class="bi bi-journal mr-2"></i></h1>
					<h3>노트 List</h3>
				</div>
				<table class="table text-center mt-3">
					<thead>
						<tr>
							<th></th>
							<th>제목</th>
							<th>학기</th>
							<th>수업명</th>
							<th>날짜</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="memo, stat:${memoList}">
							<td th:text="|${stat.count}|">1</td>
							<td><a th:text="${memo.title}" th:href="|/memo/detail-view?id=${memo.id}|">첫번째 노트</a></td>
							<th:block th:if="${memo.timetableId == 0}">
								<td>-</td>
							</th:block>
							<th:block th:unless="${memo.timetableId == 0}">
								<th:block th:each="timetable:${allTimetableList}">
									<th:block th:if="${timetable.id == memo.timetableId}">
										<th:block th:each="term:${termList}">
											<th:block th:if="${timetable.term == term.term}">
												<td th:text="${term.termString}">1</td>
											</th:block>
										</th:block>
									</th:block>
								</th:block>
							</th:block>
							<th:block th:if="${memo.lectureName == ''}">
								<td>-</td>
							</th:block>
							<th:block th:unless="${memo.lectureName == ''}">
								<td th:text="${memo.lectureName}">건축공학개론</td>
							</th:block>
							<td th:text="${#temporals.format(memo.updatedAt, 'yyyy-MM-dd')}">2018-05-03</td>
							<td><button type="button" class="delete-btn btn btn-block btn-danger btn-sm" th:data-memo-id="${memo.id}">삭제</button></td>
						</tr>
					</tbody>
				</table>
				<div class="d-flex justify-content-end">
				    <button type="button" class="btn btn-block btn-dark mt-3 col-2" id="createBtn" onclick="location.href='/memo/create-view'">+새 노트 작성</button>
			    </div>
			</div>
		</section>
		
		<script layout:fragment="script">
			$(document).ready(function() {
				$(".delete-btn").on("click", function() {
					let id = $(this).data("memo-id");

					$.ajax({
						type:"delete"
						, url:"/memo/delete"
						, data:{"id":id}
						, success:function(response) {
							if(response.result == "success") {
								location.href="/memo/list-view";
							} else {
								alert("삭제 실패!");
							}
						}
						, error:function() {
							alert("삭제 에러!");
						}
					});
				});
			});
		</script>