<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    
		<section layout:fragment="contents" class="contents d-flex mt-4">
			<aside class="side-menu col-2">
				<button type="button" class="btn btn-block btn-dark">캘린더</button>
				<button type="button" class="btn btn-block btn-dark" onclick="location.href='/memo/list-view'">메모장</button>
			</aside>
			<div class="main-contents col-10 px-5" id="memoContents" th:data-memo-id="${memo.id}">
				<div class="d-flex">
					<div class="col-3 p-0 mr-5">
						<div class="mb-2">시간표</div>
						<select id="timetableSelect">
							<option th:selected="${memo.timetableId == 0}" value="0">시간표 선택</option>
							<th:block th:each="timetable:${allTimetableList}">
								<option th:value="${timetable.id}" th:text="${timetable.timetableName}" th:selected="${memo.timetableId == timetable.id}">1학년 1학기</option>
							</th:block>
						</select>
					</div>
					<div class="col-3 p-0">
						<div class="mb-2">수업명</div>
						<select id="lectureSelect">
							<option th:selected="${memo.lectureName == null}" value="">수업 선택</option>
							<th:block th:each="credit:${creditDTOList}">
								<option th:value="${credit.lectureName}" th:text="${credit.lectureName}" th:selected="${memo.lectureName == credit.lectureName}">건축공학개론</option>
							</th:block>
						</select>
					</div>
				</div>
				<div class="title-input-group mt-5 d-flex align-items-center">
					<div class="title-input-label p-0">제목</div>
					<input type="text" class="form-control" placeholder="제목을 입력하세요." id="titleInput" th:value="${memo.title}">
				</div>
				<div class="mt-4">
			        <textarea id="contentsInput" name="contentsInput" th:text="${memo.contents}"></textarea>
			    </div>
			    <div class="d-flex justify-content-end">
				    <button type="button" class="btn btn-block btn-dark mt-3 col-1 mr-3" id="listBtn" onclick="location.href='/memo/list-view'">목록으로</button>
				    <button type="button" class="btn btn-block btn-dark mt-3 col-1" id="saveBtn">저장</button>
			    </div>
			</div>
		</section>
		
		<script layout:fragment="script">
			$(document).ready(function() {
				$("#saveBtn").on("click", function() {
					let timetableId = $("#timetableSelect option:selected").val();
					let lectureName = $("#lectureSelect option:selected").val();
	    			let title = $("#titleInput").val();
	    			let contents = $("#contentsInput").val();

	    			if(title == "") {
	    				alert("제목을 입력하세요");
	    				return ;
	    			}
	    			
	    			if(contents == "") {
	    				alert("내용을 입력하세요");
	    				return ;
	    			}
					
					let id = $("#memoContents").data("memo-id");
					
					$.ajax({
						type:"put"
						, url:"/memo/update"
						, data:{"id":id
							, "timetableId":timetableId
							, "lectureName":lectureName
							, "title":title
							, "contents":contents}
						, success:function(response) {
							if(response.result == "success") {
								location.href="/memo/detail-view?id=" + id;
							} else {
								alert("수정 실패");
							}
						}
						, error:function() {
							alert("수정 에러!");
						}
					});
				});
				
			    $("#contentsInput").summernote({
			    	height: 500,
			        placeholder: "내용을 입력해주세요",
		        	focus: true,  
		            lang: 'ko-KR', 
		            toolbar: [
		                ['style', ['style']],
		                ['fontsize', ['fontsize']],
		                ['fontName', ['fontname']],
		                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
		                ['color', ['forecolor', 'backcolor']],
		                ['para', ['ul', 'ol', 'paragraph']],
		                ['height', ['height']],
		                ['table', ['table']],
		                ['insert', ['picture']],
		                ['view', ['fullscreen', 'codeview', 'help']]
		            ]
			    });
			});
		</script>