<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/include-timetable}">
    
		<section layout:fragment="contents" class="contents d-flex mt-4">
			<aside class="side-menu col-2">
				<select id="termInput">
					<option value="학기 선택">학기 선택</option>
					<option value="1">1학년 1학기</option>
					<option value="2">1학년 2학기</option>
					<option value="3">2학년 1학기</option>
					<option value="4">2학년 2학기</option>
					<option value="5">3학년 1학기</option>
					<option value="6">3학년 2학기</option>
					<option value="7">4학년 1학기</option>
					<option value="8">4학년 2학기</option>
					<option value="9">5학년 1학기</option>
					<option value="10">5학년 2학기</option>
					<option value="11">6학년 1학기</option>
					<option value="12">6학년 2학기</option>
				</select>
				<input type="text" class="form-control mt-3" placeholder="시간표 이름" id="timetableNameInput">
				<button type="button" class="btn btn-block btn-dark mt-3" id="addLectureBtn">시간표 생성</button>
			</aside>
			<div class="main-contents col-10 d-flex justify-content-center">
				<table border="1" width="1300px">
					<thead>
						<tr>
							<th width="100px"></th>
							<th>월</th>
							<th>화</th>
							<th>수</th>
							<th>목</th>
							<th>금</th>
						</tr>
					</thead>
					<tbody height="640px">
						<tr>
							<th>1교시</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>2교시</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>3교시</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>4교시</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>5교시</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>6교시</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>7교시</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		
	<script layout:fragment="script">
		$(document).ready(function() {
			$("#addLectureBtn").on("click", function() {
				let term = $("#termInput option:selected").val();
				let timetableName = $("#timetableNameInput").val();
				
				if(term == "학기 선택") {
					alert("학기를 선택하세요");
					return;
				}
				if(timetableName == "") {
					alert("시간표 이름을 입력하세요");
					return;
				}
				
				let formData = new FormData();
				
				formData.append("term", term);
				formData.append("timetableName", timetableName);
				
				$.ajax({
					type:"post"
					, url:"/timetable/create"
					, data:formData
					, enctype:"multipart/form-data"
					, processData:false
					, contentType:false
					, success:function(response) {
						if(response.result == "success") {
							location.href="/timetable/lecture/input-view?id=" + response.id;	
						} else {
							alert("시간표 생성 실패!");
						}
					}
					, error:function() {
						alert("시간표 생성 에러!");
					}
				});
			});
		});
	</script>
</body>
</html>